<div id="schedule">
    <b>Schedule</b>
    <div class="day">
        Monday
        <div *ngFor="let clazzView of monday">{{clazzView.subjectName}}
                                              {{clazzView.groupName}}
                                              {{clazzView.teacherName}}
                                              {{clazzView.classroomName}}
        {{clazzView.startTimeHour}}:{{clazzView.startTimeMinute}}-{{clazzView.endTimeHour}}:{{clazzView.endTimeMinute}}</div>
    </div>
    <div class="day">
        Tuesday
        <div *ngFor="let clazzView of tuesday">{{clazzView.subjectName}}
                                              {{clazzView.groupName}}
                                              {{clazzView.teacherName}}
                                              {{clazzView.classroomName}}
        {{clazzView.startTimeHour}}:{{clazzView.startTimeMinute}}-{{clazzView.endTimeHour}}:{{clazzView.endTimeMinute}}</div>
    </div>
    <div class="day">
        Wednesday
        <div *ngFor="let clazzView of wednesday">{{clazzView.subjectName}}
                                              {{clazzView.groupName}}
                                              {{clazzView.teacherName}}
                                              {{clazzView.classroomName}}
        {{clazzView.startTimeHour}}:{{clazzView.startTimeMinute}}-{{clazzView.endTimeHour}}:{{clazzView.endTimeMinute}}</div>
    </div>
    <div class="day">
        Thursday
        <div *ngFor="let clazzView of thursday">{{clazzView.subjectName}}
                                              {{clazzView.groupName}}
                                              {{clazzView.teacherName}}
                                              {{clazzView.classroomName}}
        {{clazzView.startTimeHour}}:{{clazzView.startTimeMinute}}-{{clazzView.endTimeHour}}:{{clazzView.endTimeMinute}}</div>
    </div>
    <div class="day">
        Thursday
        <div *ngFor="let clazzView of thursday">{{clazzView.subjectName}}
                                              {{clazzView.groupName}}
                                              {{clazzView.teacherName}}
                                              {{clazzView.classroomName}}
        {{clazzView.startTimeHour}}:{{clazzView.startTimeMinute}}-{{clazzView.endTimeHour}}:{{clazzView.endTimeMinute}}</div>
    </div>
</div>